@import "tailwindcss";
@plugin './hero.ts';
@source './../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--vazir);
  --font-mono: var(--vazir);
}
body {
  font-family: vazir, Helvetica, sans-serif;
}
